@{
    ViewData["Title"] = "Serive Requests";
}
<link href="~/css/output.css" rel="stylesheet">




<div class="flex h-[90vh] w-[90%] flex-col items-center overflow-auto bg-[#f2f2f2] font-semibold">

    @await Html.PartialAsync("_sharedSearch")

 
</div>