
<body class="flex h-screen w-full flex-col items-center justify-center bg-[#f2f2f2]">

    <div id="view-user" class="fixed inset-0 z-20 flex items-center justify-center bg-white pb-4">
        @await Html.PartialAsync("_sharedViewUser")
    </div>
</body>

