<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


<div class="flex h-[100vh] w-[90%] flex-col items-center overflow-y-hidden bg-[#f2f2f2]">
    <main class="relative flex h-full w-full flex-col items-center overflow-y-auto px-4 sm:px-6 md:w-[70%]">
        <!-- Cover Section -->
        <section id="cover-section" class="relative mt-20 mb-10 h-[250px] w-full">
                <img class="h-full w-full object-cover" src="~/Images/cover.png" alt="Cover Photo" />
                <label class="absolute right-6 bottom-3 flex h-12 w-12 cursor-pointer items-center justify-center rounded-full bg-white shadow">
                    <input type="file" class="hidden" />
                    <img class="h-8 w-8" src="~/Images/camera-icon.svg" alt="Edit Profile" />
                </label>

            <div class="border-4 absolute top-40 left-1/2 flex h-[150px] w-[150px] -translate-x-1/2 overflow-hidden rounded-full border-white md:left-10 md:translate-x-0 md:h-[200px] md:w-[200px]">
                <img class="h-full w-full object-cover" src="~/Images/pfp.svg" alt="Profile Picture" />
            </div>

            <div class="ml-65 flex flex-col text-center md:flex-row md:items-center md:justify-between md:text-left">
                <div >
                    <h1 class="text-2xl font-bold md:text-3xl">Kobe Amaro</h1>
                    <div class="flex items-center gap-2">
                        <img class="w-[20px]" src="~/Images/home2.svg" alt="Alternate Text" />
                        <p class="text-gray-600">Block A House No. 3</p>
                    </div>
                    <div class="flex items-center gap-2">
                        <img class="ml-1 w-[15px]" src="~/Images/mail.svg" alt="Alternate Text" />
                        <p class="text-gray-600">kobeamaro@gmail.com</p>
                    </div>  
                </div>
            </div>
        </section>

        <!-- Profile Details Section -->
        <section class="mt-20 flex w-full flex-col rounded-b-3xl bg-white px-4 pt-12 shadow-lg sm:px-8">

            <!-- Share Post Section -->
            <div class="mt-2 flex w-full flex-col rounded-lg bg-white p-4 shadow-md">
                <div id="activity" class="mt-5 min-h-[20vh] w-full rounded-lg bg-white">
                    <div id="add" class="flex h-[50%] w-full flex-row items-center justify-center gap-3 p-4">
                        <a href="@Url.Action("viewProfile","Home")"><img src="~/Images/pfp.svg" /></a>
                        <input id="post-input1" type="text" class="flex-1 rounded-full border p-2 px-4 text-gray-600" placeholder="Share Something..." />
                    </div>

                    <div class="ml-5 flex h-[40%] w-[97%] flex-row items-center justify-between gap-10">
                        @await Html.PartialAsync("_sharedPost")

                        <button id="anotherPost1" class="ml-[23em] w-[10%] cursor-pointer rounded-full bg-[#043137] px-7 py-2 text-white">
                            Post
                        </button>

                    </div>
                </div>
            </div>

            <!-- Post Section -->
            <div class="mt-6 flex w-full flex-col rounded-lg bg-white p-4 shadow-md">
                <div class="flex items-center gap-3">
                    <img class="h-10 w-10 rounded-full object-cover" src="~/Images/admin.svg" alt="Admin" />
                    <div>
                        <p class="font-semibold">Hello World - Admin</p>
                        <p class="text-sm text-gray-500">5h</p>
                    </div>
                </div>
                <p class="mt-3 font-bold">WE LOVE TREE PLANTING</p>
                <p class="text-gray-600">Tree planting werty uiopa szbn rtyua dghjkl...</p>
                <img class="mt-3 rounded-lg" src="~/Images/Tree.png" alt="Tree Planting" />

                <div class="m-10 flex flex-row gap-6">
                    <a class="flex cursor-pointer items-center gap-2">
                        <i class="fa-regular fa-thumbs-up"></i> Like
                    </a>
                    <a class="flex cursor-pointer items-center gap-2">
                        <i class="fa-regular fa-comment"></i> Comment
                    </a>
                </div>
            </div>
        </section>
    </main>
</div>

<div id="post-popup1" class="fixed inset-0 z-50 flex hidden items-center justify-center bg-black/50 p-4">
    <div class="relative w-full max-w-xl rounded-lg bg-white p-6 shadow-lg sm:p-8">
        <button class="close1 absolute top-3 right-3 hidden text-xl text-gray-500 hover:text-gray-700">&times;</button>
        <div id="activity" class="mt-5 flex min-h-[25vh] w-full flex-col gap-4 rounded-lg bg-white">
            <div id="add" class="flex h-full w-full flex-col gap-3">
                <div class="flex flex-row items-center gap-4">
                    <img class="flex self-start" src="~/Images/pfp.svg" />
                    <div class="flex flex-col">
                        <h2 class="font-semibold text-[16px]">
                            Kobe Amaro
                        </h2>
                        <p class="text-[12px] text-gray-500">
                            House No.4
                        </p>
                    </div>
                </div>
                <textarea id="post-input1" placeholder="What's on your mind?" class="h-[200px] w-full resize-none rounded-lg border-none bg-[#F0F2F6] p-4 text-start outline-none"></textarea>
            </div>

            <div class="flex h-[40%] w-full flex-row items-center justify-center gap-10">
                @await Html.PartialAsync("_sharedPost")
            </div>
        </div>
        <button class="mt-5 w-full rounded-lg bg-[#043137] py-2 text-lg text-white">
            POST
        </button>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const videoBtn = document.getElementById("vid");
        const photoBtn = document.getElementById("pho");
        const feelingBtn = document.getElementById("feel");
        const buttonPost = document.getElementById("anotherPost1")
        const postInput = document.getElementById("post-input1");
        const popup = document.getElementById("post-popup1");
        const closeBtn = document.querySelector(".close1");


        feelingBtn.addEventListener("click", function () {
            popup.classList.remove("hidden");
        });
        photoBtn.addEventListener("click", function () {
            popup.classList.remove("hidden");
        });
        videoBtn.addEventListener("click", function () {
            popup.classList.remove("hidden");
        });
        buttonPost.addEventListener("click", function () {
            popup.classList.remove("hidden");
        });

        postInput.addEventListener("click", function () {
            popup.classList.remove("hidden");
        });

        closeBtn.addEventListener("click", function () {
            popup.classList.add("hidden");
        });

        window.addEventListener("click", function (e) {
            if (e.target === popup) {
                popup.classList.add("hidden");
            }
        });
    });
</script>

