<a href="#" class="flex items-center gap-2">
    <img src="~/Images/strokevid.svg" />
    Video
</a>
<a href="#" class="flex items-center gap-2">
    <img src="~/Images/strokepho.svg" />
    Photo
</a>
<a href="#" class="flex items-center gap-2">
    <img src="~/Images/strokefeel.svg" />
    Feeling/Activity
</a>
<a href="#" class="flex items-center gap-2">
    <img src="~/Images/strokepool.svg" />
    Poll/Survey
</a>
